{% extends "base.html" %}
{% block title %}
Информация
{% endblock  %}
{% block body %}
<div class ="container">
    <h1 style="text-align: center;">О нас</h1>
    <p style="font-size: large;">Этот блог для размещения статей был написан Товстолугом (aka Master of Magic) Даниилом с целью изучения фреймворка Flask.</p>
    <p style="font-size: large;">На этом сайте вы можете размещать свои статьи, а так же удалять и редактировать все представленные статьи на сайте</p>
    <p style="font-size: large;">Возможно в будущем появится регистрация пользователей</p>
    <p style="font-size: large;">По всем вопросам пишите на <mark>daniil.tovstolug@gmail.com</mark>
</div>
{% endblock  %}