{% extends "base.html" %}
{% block title %}
Главная страница
{% endblock %}
{% block body %}
<div class =container>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Главая страница</h1>
    <h2 class="display-4">Блог</h2>
    <p class="lead">Здесь вы можете размещать свои статьи, редактировать, удалять и просматривать статьи, что представлены на сайте. Пожалуйста, относитесь уважительно к чужому труду.</p>
</div>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Бесплатно</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Включено: <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Добавление</li>
          <li>Редактирование</li>
          <li>Удаление</li>
          <li>Просмотр статей</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> -->
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Сохраняйте</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Скоро...</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Сохраняйте статьи в своем кабинете</li>
          <li>Делитесь с друзьями</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> -->
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Система рейтинга</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Скоро...</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Оценивайте статьи</li>
          <li>Получайте рейтинг</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button> -->
      </div>
    </div>
  </div>
</div>
{% endblock  %}