{% extends "base.html" %}
{% block title %}
Местонахождение
{% endblock  %}
{% block body %}
<div class ="container">
    <h1 style="text-align: center;">Местонахождение</h1>
    <p style="font-size: large;">Если честно, не представляю, зачем вам нужна эта информация, ведь это некомерческий проект и занималась им не фирма. Но все же, вдруг интересно. Мы находимся в городе Харькове, что в Украине. Надеюсь, что вам достаточно этой информации =)</p>
    <p style="font-size: large;">По всем вопросам пишите на <mark>daniil.tovstolug@gmail.com</mark>
</div>
{% endblock  %}
